/*logo and navigation styles*/
#header {
  text-align: center;
  margin-top: 0;
  font-family: 'Tauri', sans-serif;
  font-weight: bold;
  color: #8B8D90;
  font-size: 18px;
}
#header a, a:visited{
  text-decoration: none;
  color: #8B8D90;
}
#header a:hover {
  text-decoration: underline;
  /*color: #7ED6F6;*/
}
#navigation .divider {
  display: inline;
}

/*dropdown navigation styles*/
#navigation .dropbtn {
    border: none;
    cursor: pointer;
    font-family: 'Tauri', sans-serif;
    font-weight: bold;
    color: #8B8D90;
    font-size: 18px;
    background-color: white;
}
#navigation .dropdown {
    position: relative;
    display: inline-block;
}
#navigation .dropdown-content {
    display: none;
    position: absolute;
    color: #8B8D90;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#navigation a {
  padding: 12px;
}
#navigation .dropdown-content a {
    color: #8B8D90;
    padding: 12px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}
#navigation .dropdown-content a:hover {
  background-color: #f1f1f1
}
#navigation .dropdown:hover .dropdown-content {
    display: block;
}

/*content container styles*/
#content {
  margin: 20px auto;
  text-align: center;
  width: 80%;
}
#content p {
  margin: 0 auto;
  text-align: left;
  font-family: 'Assistant', sans-serif;
}


/*footer styles*/
footer {
   border-top: 1px solid #ccc;
   width: 80%;
   margin: 0 auto;
}
footer p {
  font-size: 12px;
  font-family: 'Assistant', sans-serif;
}
footer .contact {
  float: left;
  line-height: 13px;
}
footer .sponsored {
  float: right;
  text-align: right;
}

/*homepage specific styles*/
.homepage img {
  width: 80%;
}

video {
  width: 80%;
  margin: 0 auto;
}
.intro:first-letter {
  font-size: 300%;
  font-weight: bold;
  float: left;
  width: 1em;
  line-height: 35px;
  padding-top: 3px;
  padding-right: 3px;
}

/*page title*/
h1 {
  font-size: 24px;
  color: #F57EC4;
  font-family: 'Tauri', sans-serif;
  text-align: left;
}

/*submit link*/
.submitbutton {
  text-align: center;
  background-color: #FFF87F;
  color: black;
  padding: 16px;
  font-size: 16px;
  font-family: 'Tauri', sans-serif;
  border: none;
  cursor: pointer;
}

h2 {
  font-size: 23px;
  color: black;
  font-family: 'Tauri', sans-serif;
  text-align: left;
}

/*page subhead*/
h3 {
  font-size: 22px;
  color: #7ED6F6;
  font-family: 'Tauri', sans-serif;
  text-align: left;
}

/*FAQ specific styles*/
.q {
  font-weight: bold;
}

/*form specific styles */
.form {
  font-weight: bold;
  font-size: 20px;
}
.formcontent {
  width: 60%;
}
input {
    font-family: 'Tauri', sans-serif;
}

/* Dropdown Button */
#content .dropbtn {
    background-color: #FFF87F;
    color: black;
    padding: 16px;
    font-size: 16px;
    font-family: 'Tauri', sans-serif;
    border: none;
    cursor: pointer;
}

#content .dropbtn:hover, .dropbtn:focus {
    background-color: #FFF87F;
}

#content .dropdown {
    position: center;
    display: inline-block;
}

#content .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 0px 24px 0px 24px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#content .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-family: 'Tauri', sans-serif;
    display: block;
}

#content .dropdown-content a:hover {background-color: #f1f1f1}

#content .show {display:block;}


/*grid for past winners*/
h4 {
  /*heading styles for competition categories*/
  font-size: 20px;
  font-family: 'Tauri', sans-serif;
  text-align: left;
  color: #7ED6F6;
}
.winnergrid {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "a b c"
  "d e f"
  "g h .";
}

#content .awardtitle {
  text-align: center;
  font-weight: bold;
  font-family: 'Tauri', sans-serif;
}
#content .winnername {
  text-align:center;
  font-family: 'Tauri', sans-serif;
}

.winnergrid img {
  width: 200px;
}

.winner1 {
  grid-area: a;
}

.winner2 {
  grid-area: b;
}

.winner3 {
  grid-area: c;
}

.winner4 {
  grid-area: d;
}

.winner5 {
  grid-area: e;
}

.winner6 {
  grid-area: f;
}

.winner7 {
  grid-area: g;
}

.winner8 {
  grid-area: h;
}

/** media queries **/
@media screen and (max-width: 650px){
  .winnergrid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "a b"
    "c d"
    "e f"
    "g h";
  }
  .winnergrid img {
    width: 75%;
  }
}

@media screen and (max-width: 450px){
  #header img {
    width: 200px;
  }
  #header {
    font-size: 12px;
  }
  #navigation .dropbtn {
    font-size: 12px;
  }
  h1, h2, h3, h4 {
    font-size: 16px;
  }
  #content {
    width: 100%;
  }
  .sponsored {
    float: left;
    text-align: left;
  }
  .winnergrid {
    grid-template-columns: 1fr;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    "g"
    "h";
  }
  video {
    90%;
  }
}
