/*logo and navigation styles*/
#header {
  text-align: center;
  margin-top: 0;
  font-family: 'Tauri', sans-serif;
  font-weight: bold;
  color: #8B8D90;
  font-size: 18px;
}
#header a, a:visited{
  text-decoration: none;
  color: #8B8D90;
}
#header a:hover {
  text-decoration: underline;
  color: #7ED6F6;
}

/*content container styles*/
#content {
  margin: 20px auto;
  text-align: center;
  width: 800px;
}
#content p {
  margin: 0 auto;
  text-align: left;
  font-family: 'Assistant', sans-serif;
}

/*homepage specific styles*/
.homepage img {
  width: 75%;
}
.homepage p {
  width: 75%;
}
.homepage p:first-letter {
  font-size: 300%;
  font-weight: bold;
  float: left;
  width: 1em;
  line-height: 35px;
  padding-top: 3px;
  padding-right: 3px;
}

/*page title*/
h1 {
  font-size: 24px;
  color: #F57EC4;
  font-family: 'Tauri', sans-serif;
  text-align: left;
}

/*submit link*/
h2 {
  font-size: 22px;
  color: #7ED6F6;
  font-family: 'Tauri', sans-serif;
  text-align: center;
}
h2 a, a:visited {
  text-decoration: none;
  color: black;
}
h2 a:hover {
  text-decoration: underline;
  color: #FFF87F;
}

/*page subhead*/
h3 {
  font-size: 22px;
  color: #7ED6F6;
  font-family: 'Tauri', sans-serif;
  text-align: left;
}

/*FAQ specific styles*/
.q {
  font-weight: bold;
}

/*form specific styles */
.form {
  font-weight: bold;
  font-size: 20px;
}
.formcontent {
  width: 60%;
}
input {
    font-family: 'Tauri', sans-serif;
}

/** media queries **/
@media screen and (max-width: 450px){
  #header img {
    width: 200px;
  }
  #header {
    font-size: 14px;
  }
  h1, h2, h3 {
    font-size: 16px;
  }
  #content {
    width: 100%;
  }
}
